@import "./reset.css";

.wrapper {
    min-height: 100vh;
    background: #333333 url('../textures/bg.jpg') center center no-repeat;
    display: flex;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;
    /* cursor: none; */
}

.container {
    align-self: center;
    position: relative;
}